/* Video background */
.videobg {
  position: absolute;
  width: 140%;
  height: 100%;
  overflow: hidden;
  background: #111; /* bg color, if video is not high enough */
}

/* horizontally center the video */
.videobg-width {
  position: absolute;
  width: 100%; /* Change width value to cover more area*/
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-bottom: 60%;
  overflow: hidden;
}

.videobg-make-height {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.videobg-hide-controls {
  box-sizing: content-box;
  position: relative;
  height: 100%;
  width: 100%;
  /* Vimeo timeline and play button are ~55px high */
  padding: 55px 97.7777px; /* 16:9 ratio */
  top: -30px;
  left: -97.7777px; /* 16:9 ratio */
}

.videobg iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0 none;
}

@media all and (max-width: 1214px) {
  .videobg-hide-controls {
    width: 300%;
  }

  .videobg-aspect {
    padding-bottom: 150%;
    width: 100%;
  }

  .title {
    font-size: 42px !important;
  }

  .videobg-width {
    width: 120%;
  }

  .videobg-hide-controls {
    left: -350px;
  }
}

@media all and (max-width: 500px) {
  .videobg-hide-controls {
    width: 300%;
  }

  .videobg-aspect {
    padding-bottom: 200%;
    width: 110%;
  }

  .title {
    font-size: 42px;
  }

  .videobg-width {
    width: 120%;
  }

  .videobg-hide-controls {
    left: -350px;
  }
}

/* .box {
  background-color: rgba(0, 246, 255, 0.5);
  box-shadow: none;
  border-radius: 10px;
} */
.box {
  background-color: rgba(0, 246, 255, 0.5);
  box-shadow: none;
  border-radius: 10px;
}

.title {
  font-family: 'Caveat', cursive;
  font-size: 62px;
  color: white;
  text-shadow: 1px -1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000;
}

.label {
  font-family: 'Caveat', cursive;
  font-size: 28px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mx-auto {
  margin: 0 auto;
}

.vp-spin {
  display: none !important;
}
